<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="card m-3">
      <h5 class="card-header">Esqueceu sua senha?</h5>
      <div class="card-body">
        <p class="card-text">Não se preocupe, nós damos uma jeito para você. Insira seu email para recuperar sua senha.</p>
        <input class="form-control" id="email" placeholder="Digite seu email" type="text">
        <button type="button" class="default-btn btn" data-toggle="modal" data-target="#Modal">
          Enviar email
        </button>
        <a>Lembrou? </a>
        <a href="/login">Clique aqui</a>
      </div>
  </div>
</div>
<app-footer></app-footer>

<app-modal (notificacao)="onClick($event)"></app-modal>



