<div class="col-12 fixed-top custom-components-bg p-0">
    <div class="row d-flex align-items-center p-2">
        <div class="col-3">
            <img src="../../../assets/images/logo.png" alt="GoHorse logo" class="img-fluid logo" (click)="gotoHome()">
        </div>
    
        <div class="col-6">
            <form class="d-flex">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn default-btn-custom-white btn-sm ml-1" type="submit" (click)="onSearch()">Search</button>
            </form>
        </div>
    
        <div class="col-3 d-flex justify-content-end">
            <app-user-menu></app-user-menu>
        </div>
    </div>

    <div>
        <app-menu></app-menu>
    </div>
</div>