.content {
    padding-top: 8.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90vw;
    max-width: 90%;
}

/* Background para Footer, Header, etc */
.custom-components-bg {
    background-color: #833ab4;
}

/* Botões padrões */
.default-btn-custom-white {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.default-btn-custom-white:hover {
    background-color: white;
    color: black;
}

/*BOTAO LARANJA*/
.default-btn{
    background-color: #ff5555; 
    border-color: #ff5555;
    color: white;
    float: right;
}

.orange-btn {
    background-color: #fcb045;
    margin: 0.5rem; 
}