<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled] = "currentPage <= 1" (click)="onPrevious()">
            <a class="page-link" [routerLink]="pageUrl" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item" *ngFor="let i of totalPages">
            <a class="page-link" [class.activeLink] = "currentPage === i + 1" [routerLink]="pageUrl" (click)="onChangePage(i + 1)">
                {{ i + 1 }}
            </a>
        </li>
        <li class="page-item" [class.disabled] = "currentPage >= totalPages.length" (click)="onNext()">
            <a class="page-link" [routerLink]="pageUrl">Next</a>
        </li>
    </ul>
</nav>