<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="card m-3">
      <h5 class="card-header">Insira sua nova senha</h5>
      <div class="card-body">
        <form [formGroup]="pageFormRecoverPassword" (ngSubmit)="onSubmit()" method="post">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="exemplo@hotmail.com" formControlName="Email">
            <div [hidden]="pageFormRecoverPassword.controls.Email?.valid || !pageFormRecoverPassword.controls.Email?.touched" class="alert alert-danger">
              <span [hidden]="!pageFormRecoverPassword.controls.Email?.errors?.required">Campo Obrigatório</span>
              <span [hidden]="!pageFormRecoverPassword.controls.Email?.errors?.pattern">Email Inválido</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Senha</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="********" formControlName="Password">
            <div [hidden]="pageFormRecoverPassword.controls.Password?.valid || !pageFormRecoverPassword.controls.Password?.touched" class="alert alert-danger">
              <span [hidden]="!pageFormRecoverPassword.controls.Password?.errors?.required">Campo Obrigatório</span>
              <span [hidden]="!pageFormRecoverPassword.controls.Password?.errors?.pattern">Senha Inválida! A senha deve conter:
                <ul>
                  <li>No mínimo 8 caracteres</li>
                  <li>No mínimo 1 Letra Maiúscula</li>
                  <li>No mínimo 1 Letra Minúscula</li>
                  <li>No mínimo 1 número</li>
                  <li>No mínimo 1 caracter especial</li>
                </ul>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPasswordConfirm">Confirme sua senha</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="********" formControlName="PasswordConfirm">
            <div [hidden]="pageFormRecoverPassword.controls.PasswordConfirm?.valid || !pageFormRecoverPassword.controls.PasswordConfirm?.touched" class="alert alert-danger">
              <span [hidden]="!pageFormRecoverPassword.controls.PasswordConfirm?.errors?.required">Campo Obrigatório</span>
              <span [hidden]="!pageFormRecoverPassword.controls.PasswordConfirm?.errors?.pattern">Senha Inválida! A senha deve conter:
                <ul>
                  <li>No mínimo 8 caracteres</li>
                  <li>No mínimo 1 Letra Maiúscula</li>
                  <li>No mínimo 1 Letra Minúscula</li>
                  <li>No mínimo 1 número</li>
                  <li>No mínimo 1 caracter especial</li>
                </ul>
              </span>
              <span [hidden]="pageFormRecoverPassword.controls.PasswordConfirm?.errors?.ConfirmedValidator">As senhas inseridas não são iguais</span>
            </div>
          </div>
          <button
          type="submit"
          [disabled]="pageFormRecoverPassword.invalid || pageFormRecoverPassword.pending" class="default-btn btn"
          data-toggle="modal"
          data-target="#Modal"
          >
          Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<app-modal (notificacao)="onClick($event)"></app-modal>
