<div class="container">
  <app-header></app-header>

  <div class="content">
      <h1>Meu Carrinho</h1>
      <table class="table table-hover" *ngIf="products.length > 0; else Empty">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Valor Unitário</th>
              <th>Valor Total</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>#1</td>
              <td>{{ product.quantidade }}x</td>
              <td>R$ {{ product.valorUnitario }}</td>
              <td>R$ {{ product.valorTotal }}</td>
              <td><img class="icon-delete" (click)="onDeleteProduct(product.codigoProduto)" src="../../../assets/images/delete.svg" alt="delete" /></td>
            </tr>
          </tbody>
        </table>
        <a id="btn-limpar-carrinho" class="btn default-btn m-2">Limpar Carrinho</a>
        <a routerLink="/home" id="btn-continuar-comprando" class="btn default-btn m-2">Continuar Comprando</a>
        <button type="button" class="btn default-btn m-2" data-toggle="modal" data-target="#Modal">
          Finalizar Compra
        </button>
  </div>
  
  <app-footer></app-footer>
</div>

<ng-template #Empty>
  <h1 class="empty">Carrinho vazio!</h1>
  <p class="empty">Adicione produtos no carrinho para poder visualizá-los :D</p>
</ng-template>

<app-modal (notificacao)="onClick($event)"></app-modal>
