.container{
  display: flex;
  flex-wrap: wrap;
}

app-card-product{
  margin: 5px 5px 5px 5px;
  justify-content: center;
}

app-search-result{
  width: 100vw;
}

/* Extra small devices: portrait phones */
@media only screen and (max-width: 320px){
  .container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  app-card-product .card{
    margin: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px){
  .container{
    display: flex;
    flex-wrap: wrap;
  }

  app-card-product{
    margin: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px){
  .container{
    display: flex;
    flex-wrap: wrap;
  }

  app-card-product{
    margin: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }
}
