<div *ngIf="!logged; else icons">
    <button type="button" class="btn default-btn-custom-white" (click)="onLogin()">
        Entrar
    </button>
</div>
    
<ng-template #icons>
  <div class="d-flex flex-row align-items-center">
    <button class="btn custom-border-btn mr-1">
      <img src="assets/images/shopping-cart.svg" alt="carrinho" class="custom-icon" />
    </button>

    <button class="btn custom-border-btn" (click)="onLogout()">
      <img src="assets/images/log-out.svg" alt="Log Out" class="custom-icon" />
    </button>
  </div>
</ng-template>
