<div class="card" *ngIf="product">
  <img src="../../../assets/images/products/{{ product.codigo }}.jpg" class="card-img-top" alt="imagem do produto">
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ product.titulo }}</h5>
    <div class="card-description">
      <p class="card-text text-truncate">{{ product.descritivo }}</p>
    </div>
    <p class="card-text" id="price"><b>R${{ product.valor }}</b></p>
    <a [routerLink]="['/product-detail', product.codigo]" id="btn-comprar" class="default-btn btn">Comprar</a>
  </div>
</div>
