.card{
  width: 20rem;
  margin: 5px;
}

/* small devices: portrait phones */
@media only screen and (max-width: 1000px){
  .card{
      margin: 5px;
      margin-bottom: 1rem;
      justify-content: center;
  }
}
